
  body{
  background-color:#000000;
}
li{
    border:#ffffff;
    color:#ff0000;
    border-radius: 5px;
    background-color:#000000;
    padding:5px;
    margin:5px;
    list-style-type:none;
    width:200px;

}
h1{
    color:#ff0000;

}
a{
    color:#00ff00;

}
